.*.swp
development-help/ai_vim_sandbox/persist/*
!development-help/ai_vim_sandbox/persist/litellm
development-help/ai_vim_sandbox/persist/litellm/*
!development-help/ai_vim_sandbox/persist/litellm/config.yaml
development-help/ai_vim_sandbox/.env
